.display{
    background-color: darkslategray;
    color: black;
    font-family: Digital7-rg1mL;
    height: 80px;
    font-size: 40px;
    width: 380px;
    text-align: right;;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: 'Digital7-rg1mL';
    src: url('Digital7-rg1mL.ttf');
}

body{
    background-color: rgba(2, 92, 87, 0.99);
    font-family: 'Quicksand', 'Roboto', sans-serif;
    
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.main{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.btns{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
    width: 400px;
    flex-direction: row;
}
.btn{
    font-size: 30px;
    background-color: darkslategray;
    margin: 20px;
    width: 60px;
    height: 60px;
    
    border: 1px solid #ccc;
    cursor: pointer;
    transition: opacity 0.3s;
    transition: background-color 0.3s;
    transition: transform 0.3s;
}
.btn:hover{
    opacity: 0.7;
    background-color: white;
}
.btn:active{
    transform: scale(0.90);
}

#equalto{
    width: 160px;
}

#multiply{
    text-align: center;
    padding-top: 15px;
}
.ans{
    font-size: 30px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}
#upper{
    background-color: darkslategray;
}
#input{
    background-color: darkslategray;
}